html, body{
	font size: 80%;
	font-family: "Palatino", Courier, monospace;
	letter-spacing: 0.15em;
	background-color: #A4A09D;
}
header{
	padding: 5%;
	background-image: url(header.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: ;
	background-attachment: fixed;
}

#page {
	max-width: 940px;
	min-width: 720px;
	margin: 200px auto 10px auto;
	padding: 20px;
	border: 200px outset #AAB1B7;
	background-color: #dae0da;
}
img:hover{
	transform: scale(1.2);
  	box-shadow: -16px 13px 10px #484443;
}

.title {
  font-sizet: 100%;
  font-style: bold;
  weight: 100px;
	width: 150px;
	margin: 15px auto 30px auto;
}

.title:hover{
  box-shadow: -12px 14px 10px #484443;
}

ul {
	width: 570px;
	padding: 15px;
	margin: 0px auto 0px auto;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	text-align: center;
}

li{
	display: inline;
	margin: 0px 3px;
}

p {
	text-align: center;
	width: 600px;
	margin: 20px auto 20px auto;
	font-weight: normal;
  color: #35271E;
}

a {
	color: #35271E;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 1px 5px 18px;

}

a:hover{
	color: #DAD3C9;
	background-color: #5C5F63;
  border-radius: 8px;
  box-shadow: -16px 13px 10px #484443;
}
